extends base

block styles  

block navbar
  ul.navbar-nav.mr-auto
    li.nav-item
      a(class="nav-link" href="/team") Squadra
    li.nav-item
      a(class="nav-link" href="/market") Mercato
    li.nav-item
      a(class="nav-link" href="#") Finanze
    li.nav-item
      a(class="nav-link" href="#") Media
    li.nav-item
      a(class="nav-link" href="#") Calendario
    li.nav-item
      a(class="nav-link" href="#") Partita

block navbar-left
  div.container
    p.text-muted Qui resta vuoto?

block main
  div.container
    p.text-muted Qui va messa una dashboard

block scripts
