doctype html
html(lang="ita")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=5.0")
    //- Bootstrap
    link(href="/static/css/bootstrap.min.css", rel="stylesheet")
    link(href="/static/css/dashboard.css", rel="stylesheet")
    //- style>
    //-   .bd-placeholder-img {
    //-     font-size: 1.125rem;
    //-     text-anchor: middle;
    //-     -webkit-user-select: none;
    //-     -moz-user-select: none;
    //-     -ms-user-select: none;
    //-     user-select: none;
    //-   }
    //- 
    //-   @media (min-width: 768px) {
    //-     .bd-placeholder-img-lg {
    //-       font-size: 3.5rem;
    //-     }
    //-   }
    //- /style>
    title Wanda Football Manager
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
      a(class.navbar-brand href="/") Wanda
      button(
        class="navbar-toggler" type="button" 
        data-toggle="collapse" data-target="#navbarsExampleDefault" 
        aria-controls="navbarsExampleDefault" aria-expanded="false" 
        aria-label="Toggle navigation")
        span.navbar-toggler-icon
      div(class="collapse navbar-collapse" id="navbarsExampleDefault")
        ul.navbar-nav.mr-auto
          li.nav-item
            a(class="nav-link" href="/teams") Squadra
          li.nav-item
            a(class="nav-link" href="#") Mercato
          li.nav-item
            a(class="nav-link" href="#") Finanze
          li.nav-item
            a(class="nav-link" href="#") Media
          li.nav-item
            a(class="nav-link" href="#") Calendario
          li.nav-item
            a(class="nav-link" href="#") Partita
        form.form-inline.my-2.my-lg-0
          input(class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search")
          button(class="btn btn-secondary my-2 my-sm-0" type="submit") Search

    div.container-fluid
      div.row
        nav.col-md-2.d-none.d-md-block.bg-light.sidebar
          block navbar
        main(role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4")
          div.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
            block main

    script(src="/static/js/jquery-3.3.1.js")
    script(src="/static/js/popper.js")
    script(src="/static/js/bootstrap.min.js")
