extends base
//- extends test

block styles
  link(href="/static/css/lineup.css", rel="stylesheet")
  //- link(href="/static/css/normalize.css", rel="stylesheet")

block navbar
  ul.navbar-nav.mr-auto
    li.nav-item
      a(class="nav-link active" href="/team") Squadra
    li.nav-item
      a(class="nav-link" href="/market") Mercato
    li.nav-item
      a(class="nav-link" href="#") Finanze
    li.nav-item
      a(class="nav-link" href="#") Media
    li.nav-item
      a(class="nav-link" href="#") Calendario
    li.nav-item
      a(class="nav-link" href="#") Partita
        
block navbar-left
  div.sidebar-sticky
    ul.nav.flex-column
      li.nav-item
        a(class="nav-link" href="/team")
          span(data-feather="rooster") Rosa
      li.nav-item
        a(class="nav-link active" href="/team/lineup")
          span(data-feather="lineup") Lineup
      //- li.nav-item
      //-   a(class="nav-link" href="#")
      //-     span(data-feather="tactic") Tattica
      //- li.nav-item
      //-   a(class="nav-link" href="#")
      //-     span(data-feather="training") Allenamento
      //- li.nav-item
      //-   a(class="nav-link" href="#")
      //-     span(data-feather="mood") Morale
    

block main
  div#root
        
block scripts
  //- Load React
  script(src="/static/js/react.development.js" crossorigin)
  script(src="/static/js/react-dom.development.js" crossorigin)
  script(type="module" src="/static/js/lineup.js" crossorigin)
  
  //- VERSIONE CON BABEL
  //- script(src="/static/js/babel.min.js" crossorigin)
  //- script(type="text/babel" src="/static/js/lineup.js")

  //- script(src="/static/js/registerServiceWorker.js" crossorigin)
  
  

        
        
        
        
