extends base
//- extends test

block styles
  link(href="/static/css/lineup.css", rel="stylesheet")
  //- link(href="/static/css/normalize.css", rel="stylesheet")
    
block navbar
  div.sidebar-sticky
    ul.nav.flex-column
      li.nav-item
        a(class="nav-link" href="/teams")
          span(data-feather="rooster") Rosa
      li.nav-item
        a(class="nav-link active" href="/teams/lineup")
          span(data-feather="lineup") Lineup
      li.nav-item
        a(class="nav-link" href="#")
          span(data-feather="tactic") Tattica
      li.nav-item
        a(class="nav-link" href="#")
          span(data-feather="training") Allenamento
      li.nav-item
        a(class="nav-link" href="#")
          span(data-feather="mood") Morale
    h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
      span Supercazzole
      a(class="d-flex align-items-center text-muted" href="#")
        span(data-feather="plus-circle")
    ul.nav.flex-column.mb-2
      li.nav-item
        a(class="nav-link" href="#")
          span(data-feather="file-text") ...

block main
  div#root
        
block scripts
  //- Load React
  script(src="/static/js/react.development.js" crossorigin)
  script(src="/static/js/react-dom.development.js" crossorigin)
  script(src="/static/js/babel.min.js" crossorigin)
  //- Load my component
  //- script(type="module" src="/static/js/lineup.js")
  //- script(src="/static/js/registerServiceWorker.js" crossorigin)
  script(type="text/babel" src="/static/js/lineup.js")
  
  

        
        
        
        
